@import 'common';

// injector
// endinjector

._status .switcher-container{
    margin: 0 !important;
    height: auto;
    padding-top: 10px;

}
.filter-top{
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
.border_top_0{
    border-top: 1px solid #fff;
}
.switcher-container .switcher .handle-container .handle.handle-off{
    background: #e85555;
    color: #fff;
}
.switcher-container .switcher.success{
    border-color: #fff !important;
}
.text_align_center{
    text-align: center;
}