@import 'common';

// injector
// endinjector

._status .switcher-container{
    margin: 0 !important;
    height: auto;
    padding-top: 10px;

}
.filter-top{
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
.border_top_0{
    border-top: 1px solid #fff;
}
.switcher-container .switcher .handle-container .handle.handle-off{
    background: #e85555;
    color: #fff;
}
.switcher-container .switcher.success{
    border-color: #fff !important;
}
.text_align_center{
    text-align: center;
}

.tivi_showing{
    background: url('../assets/images/bg.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 30px 15px;
    .container_tivi_show{
        position: relative;
        .title_1{
            text-transform: uppercase;
            margin: 12px 0;
            padding: 2px 15px;
            margin-bottom: 60px;
            background: url(../assets/images/ic1.png) no-repeat left center;
            background-size: contain;
            padding-left: 44px;
        }
        ._people_info{
            overflow: hidden;
            margin-bottom: 20px;
            position: relative;
            a{
                display: inline-block;
                border-radius: 0 30px 30px 0;
                color: #fff;
                padding: 15px 25px;
                font-size: 16px;
                background: rgba(154, 155, 156, 0.59);
                margin: 7px 0;
                text-decoration: none;
                width: 95%;
                float: right;
                position: absolute;
                left: 5%;
                top: 4px;
                z-index: 1;
                padding-left: 13%;

            }
            ._avt{
                width: 15%;
                float: left;
                position: relative;
                z-index: 2;
                img{
                    width: 100%;
                }
            }
        }
        ._img_show{
            img{
                width: 100%;
            }
        }
        ._ctn_header{
            position: relative;
            margin: 0 50px;
            ._title{
                width: 100%;
                h3{
                    padding: 15px 60px;
                    margin: 0;
                    background: #dd5e45;
                    border-radius: 30px;
                    text-transform: uppercase;
                    i{
                        padding-right: 7px;
                    }
                }
            }
            ._img_bottom{
                background: url(../assets/images/ic2.png) no-repeat top center;
                background-size: contain;
                width: 26px;
                display: inline-block;
                overflow: hidden;
                height: 12px;
                position: absolute;
                bottom: -12px;
                left: 9%;
            }
        }
        ._ctn_user{
            overflow: hidden;
            margin: 0 50px;
            padding: 50px 30px;
            ._ctn_avt{
                width: 15%;
                float: left;
                img{
                    width: 100%;
                }
            }
            ._title{
                font-size: 42px;
                display: inline-block;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                margin: 0;
                padding: 31px 22px;
                width: 85%;
                float: right;
            }
        }
        ._ctn_drinks{
            margin: 0 50px;
            ._ingredient{
                width: 70%;
                display: inline-block;
                overflow: hidden;
                margin: 0 auto;
            }
            ._ctn_ingredient{
                width: 70%;
                padding: 0 15%;
                h5{

                }
                p{

                }
            }
            .ctn-drinks{
                margin-top: 30px !important;
                min-height: 250px !important;
                margin-bottom: 0 !important;
                h5{
                    font-size: 24px;
                }
                ul{
                    li{
                        margin: 0 !important;
                        padding: 0 !important;
                        a{
                            font-size: 22px;
                            font-size: 22px;
                            display: inline-block;
                            width: 80%;
                            padding: 15px;
                            border-radius: 30px;
                            &:hover{
                                background: rgba(189, 187, 183, 0.68);
                            }
                        }
                    }
                }
            }
        }
        ._ctn_right{
            ._title_quick{
                background: url(../assets/images/ic3.png) no-repeat left center;
                background-size: contain;
                margin: 0;
                padding: 0px 60px;
                font-size: 26px;
                text-transform: uppercase;
                margin: 12px 0 72px;
            }
            div{
                h5{
                    text-transform: uppercase;
                }
                h1{
                    font-size: 68px;
                    font-weight: 300;
                }
                .ctn-drinks-served{
                    p{
                        color: #3496ad;
                    }
                }
                .ctn-drinks-time{
                    p{
                        color: #3496ad;
                    }
                }
            }
        }
        ._navbar_play{
            padding: 0 0 0 50px;
            position: absolute;
            bottom: 30px;
            left: 15px;
            right: 15px;
            .footer-right{
                ._tile_play{
                    width: 70%;
                    float: left;
                    color: #3496ad;
                    padding: 15px 30px;
                    font-size: 34px;
                    img{
                        width: 50px;
                        margin-right: 20px;
                        // margin-top: -6px;
                    }
                    span{
                        font-size: 24px;
                    }
                }
                ._btn_play{
                    width: 30%;
                    float: right;
                    a{
                        width: 100%;
                        display: inline-block;
                        overflow: hidden;
                        padding: 23px 54px;
                        border-radius: 50px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
._img{
    width: 100% !important;
}