<div ba-panel="" ba-panel-title="Create Drink" ba-panel-class="with-scroll">
    <div class="panel-body">
        <form name="form" class="form_create">
            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Name</label>
                <input class="form-control" type="text" name="name" placeholder="Name" ng-model="data_create.name" ng-change="changeInfo('name', data_create.name)"
                    required>
            </div>

            <multiselect class="input-xlarge" multiple="true" ng-model="data_create.category" options="item.link for item in list_categories"
                change="selected()"></multiselect>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Image</label>
                <input type='file' id="uploadFile" class="form-control" ng-model="data_create.image" onchange="angular.element(this).scope().imageUpload(event, 'image')"
                />
            </div>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Image Background</label>
                <input type='file' id="uploadFile" class="form-control" ng-model="data_create.image_background" onchange="angular.element(this).scope().imageUpload(event, 'image_background')"
                />
            </div>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Price</label>
                <input class="form-control" type="number" min="0" name="price" placeholder="Price" ng-model="data_create.price" ng-change="changeInfo('price', data_create.price)"
                    required>
            </div>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Glass</label>

                <select class="form-control" name="glass" ng-model="data_create.glass" ng-change="changeInfo('glass', data_create.glass)">
                    <option ng-repeat="item in list_glass" class="form-control" value="{{item.id}}">{{item.name}} - {{item.size}} </option>
                </select>
            </div>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Keyword</label>
                <input class="form-control" type="text" name="key_word" placeholder="Keyword" ng-model="data_create.key_word" ng-change="changeInfo('key_word', data_create.key_word)"
                    required>
            </div>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Estimate time</label>
                <input class="form-control" type="number" min="0" name="estimate_time" placeholder="Estimate time" ng-model="data_create.estimate_time"
                    ng-change="changeInfo('estimate_time', data_create.estimate_time)" required>
            </div>


            <div class="form-group">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="data_create.is_have_ice" ng-click="changeInfo('is_have_ice', data_create.is_have_ice)">
                    <span>Is have ice</span>
                </label>
            </div>

            <!-- Ingredient -->
            <div class="drink_ingredient">
                <h3 class="with-line ng-scope">Ingredient</h3>

                <div class="add-row-editable-table">
                    <button class="btn btn-primary" data-toggle="modal" ng-click="openCreateIngredient('md')" ><i class="ion-plus-round"></i> Add Ingredient</button>
                </div>

                <table ng-if="ingredients.length > 0" class="table table-striped" st-table="smartTableData">
                    <thead>
                        <tr class="sortable ">
                            <th class="" style="text-align : left;">Ingredient</th>
                            <th>Ratio</th>
                            <th>Unit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ingredients" class="ng-scope">
                            <td class="ng-binding" style="text-align : left;">
                                {{item.ingredient.name}}
                            </td>
                            <td class="ng-binding">
                                {{ item.ratio }}
                            </td>
                            <td class="ng-binding">
                                {{ item.unit }}
                            </td>
                            <td class="ng-binding" style="width: 30px; text-align : center;">
                                <a href="" data-toggle="modal" ng-click="confirmDelete(item)" style="color : #e85555;">
                                    <i class="ion-android-delete"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Garnish -->
            <div class="drink_ingredient">
                <h3 class="with-line ng-scope">Garnish</h3>

                <div class="add-row-editable-table">
                    <button class="btn btn-primary" data-toggle="modal" ng-click="openCreateGarnish('md')" ><i class="ion-plus-round"></i> Add Garnish</button>
                </div>

                <table ng-if="garnishs.length > 0" class="table table-striped" st-table="smartTableData">
                    <thead>
                        <tr class="sortable ">
                            <th class="" style="text-align : left;">Garnish</th>
                            <th>Ratio</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in garnishs" class="ng-scope">
                            <td class="ng-binding" style="text-align : left;">
                                {{item.garnish.name}}
                            </td>
                            <td class="ng-binding">
                                {{ item.ratio }}
                            </td>
                            <td class="ng-binding" style="width: 30px; text-align : center;">
                                <a href="" data-toggle="modal" ng-click="confirmDeleteGarnish(item)" style="color : #e85555;">
                                    <i class="ion-android-delete"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="text-align: center; margin-top: 15px;">
                <hr>
                    <button ng-disabled="form.$invalid" type="button" class="btn btn-primary" ng-click="create()">Create</button>
            </div>
        </form>
    </div>
</div>