<div class="" style="margin-bottom : 15px;">
	<a class="btn btn-primary" href="#/manager-drink/separate-glass/create" style="background: #209e91; border-color: #209e91;">Create</a>
</div>

<div ba-panel="" ba-panel-title="List Separate Glass" ba-panel-class="with-scroll">
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="table-id">#</th>
					<th>Name</th>
					<th>Status</th>
					<th>Image</th>
					<th>Size</th>
					<th>Unit</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in listGalss" class="ng-scope">
					<td class="table-id ng-binding">{{item.id}}</td>
					<td class="ng-binding">
						<a href="#/manager-drink/separate-glass/detail/{{item.id}}">{{item.name}}</a>
					</td>
					<td class="ng-binding">
						<!-- <input ng-show="item.status === 0" type="checkbox" name="status" checked>
						<input ng-show="item.status === 10" type="checkbox" name="status"> -->
						<label class="checkbox-inline custom-checkbox nowrap">
							<input type="checkbox" ng-checked="item.status === 0" ng-model="status" ng-change="changeStatus(item)">
							<span></span>
						</label>
					</td>
					<td class="ng-binding"><a href="{{item.image}}">{{item.image}}</a></td>
					<td class="ng-binding">{{item.size}}</td>
					<td class="ng-binding">{{item.unit_view}}</td>
					<td class="ng-binding">
						<a href="" data-toggle="modal" ng-click="confirmDelete(item)">
							<i class="ion-android-delete"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>